 /* angular splits component html, js , and css(this file) into separate files. */
.component {
    height: 100%;
 }

 .navbar-nav { 
    flex-direction: row;
}

.border-3 {
    border-width:3px !important;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}