<!-- TOP NAVBAR -->
<nav class="navbar navbar navbar-dark bg-primary fixed-top ">
  <div class="container-fluid navbar ">
    <div class="navbar-header ">
      <a class="navbar-brand" href="#">Music Streaming Services</a>
    </div>
    <ul class="navbar-nav" style="color:white;" >
      <li class="active nav-item px-2 mx-2 border border-dark" ><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item px-2 mx-2 border border-dark" ><a class="nav-link" href="library">Music Library</a></li>
    </ul>
  </div>
</nav>

<div class="container home h-100">
  <p>&nbsp;</p>
  <h1 class="text-center mt-var py-3 pl-5 ">
    Welcome to your Music Streaming App!
  </h1>

  <h3 class="text-center pt-5">Browse the <a style="color:darkblue;" href="library">music library </a>to find your favorite royalty free music.</h3>
</div>
